.blog-content :is(h1, h2, h3, h4, h5, h6) {
    margin: 15px 0;
}

.blog-content img {
    max-width: 100%;
}

.blog-content :is(ul, ol) {
    padding-left: 25px;
}

.blog-content :is(li) {
    padding-left: 7px;
    margin: 5px 0;
}

.putih {
    color: #fff;
}